 :root{
  --scarlet:#740001;
  --gold:#D3A625;
  --yellow:#EEBA30;
  --black:#000000;
  --silver:#C0C0C0;
  } 

  /*Navbar START*/
  body { font-family: 'Times New Roman', Times, serif; background-color:var(--scarlet);}

  nav {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color:var(--yellow);
  height:45px;
  }

 p {
    margin-left:360px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

.round1{
  border:2px solid var(--gold);
  border-radius: 8px;
  padding: 15px;
  background-color: var(--silver);
 }

  p.intro::first-line{
    font-family: 'Times New Roman', Times, serif;
    font-weight:900;
    font-size: 40px;
  }

  nav ul {
  list-style-type:none;
  display:inline;
  background-color: var(--yellow);
  }

  nav li { display:inline; }

  nav li a {
  display: inline;
  float:left;
  text-decoration: none;
  background-color: var(--yellow);
  color: var(--black);
  padding:14px 16px;
  border-left:2px solid var(--black);
  }

  nav li a:hover {
  text-decoration: underline;
  background-color: var(--gold);
  color: var(--black);
  }

  nav .active { background-color:var(--silver); }

  nav h1 {
  margin-top:10px;
  padding-right:5px;
  color:var(--scarlet);
  }

  nav li:last-child a { border-right:2px solid var(--black); }
  nav h1, img { float:left; }

  /*Navbar END*/
  /*Main content css starts here*/

  .mContent { margin-top:55px; }