:root{
    --scarlet:#740001;
    --gold:#D3A625;
    --yellow:#EEBA30;
    --black:#000000;
    --silver:#C0C0C0;
    }
    
    /*Navbar START*/

    body {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; background-color:var(--scarlet);}

    nav {
    line-height:1;
    display: inline;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:var(--yellow);
    height:45px;
    }

    nav ul {
    list-style-type:none;
    display:inline;
    background-color:var(--yellow);
    }

    nav li { display:inline; }

    nav li a {
    display: inline;
    float:left;
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--black);
    padding:14px 16px;
    border-left:2px solid var(--black);
    }

    nav li a:hover {
    text-decoration: underline;
    background-color: var(--gold);
    color: var(--black);
    }

    nav .active { background-color:var(--silver); }

    nav h1 {
    margin-top:10px;
    padding-right:5px;
    color:var(--scarlet);
    font-size:1.5em;
    font-weight:bold;
    line-height:1;
    }
  
  
  nav li:last-child a { border-right:2px solid #000000; }
  nav h1, img { float:left; }
img 
  
  /*Navbar END*/
  /*image styling*/


    nav li:last-child a { border-right:2px solid var(--black); }
    nav h1, img { float:left; }

    /*Navbar END*/
    /*Main content css starts here*/

    .mContent {
       display:flex; 
       justify-content:center;
       align-items:center;
       margin: 60px
    }
    #studentCarousel { width:70%; 
      margin-block-start: 50px;
      border-style:solid;
      border-radius:16px;
      overflow:hidden;
      background-color:var(--silver);
     }
    .studentBio { display:block; width:90%;}
    .studentBio h2 { text-align: center; }
  
    .body{
      background-color:var(--scarlet);
    }