:root{
  --scarlet:#740001;
  --gold:#D3A625;
  --yellow:#EEBA30;
  --black:#000000;
  --silver:#C0C0C0;
  }
  
  /*Navbar START*/
  body {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; background-color:var(--scarlet);}

  nav {
  display: inline;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color:var(--yellow);
  height:45px;
  }

  nav ul {
  list-style-type:none;
  display:inline;
  background-color:var(--yellow);
  }

  nav li { display:inline; }

  nav li a {
  display: inline;
  float:left;
  text-decoration: none;
  background-color: var(--yellow);
  color: var(--black);
  padding:14px 16px;
  border-left:2px solid var(--black);
  }

  nav li a:hover {
  text-decoration: underline;
  background-color: var(--gold);
  color: var(--black);
  }

  nav .active { background-color:var(--silver); }

  nav h1 {
  margin-top:10px;
  padding-right:5px;
  color:var(--scarlet);
  }

  nav li:last-child a { border-right:2px solid var(--black); }
  nav h1, img { float:left; }

  /*Navbar END*/
  /*Main content css starts here*/

  .mContent { margin-top:55px; }

  #spellContainer {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
  }

  .spell {
    background-color:var(--silver);
    border:5px solid var(--gold);
    border-radius:16px;
    overflow:hidden;
    width:30%;
    margin:10px;
    text-align:center;
  }

  .spell li {
    text-align:left;
    padding-bottom:10px;
  }

  #Appare-Vestigium {
    color:var(--black);
  }
  
  #Abapeno {
    color:var(--black);
  }

  #Ascendio {
    color:var(--black);
  }

  #Avis {
    color:var(--black);
  }

  #Arania-Exumai {
    color:var(--black);
  }

  #Avada-Kedavra {
    color:var(--black);
  }